*.vsix
.devcontainer/**
.github/**
.vscode/**
.vscode-test/**
.vscode-test-web
.nyc_output/**
coverage/**
out/**
node_modules/**
!node_modules/@lydell/node-pty*/**
src/**
.gitattributes
.gitignore
.hadolint.yaml
.npmrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
dist/**/*.js.map
test-workspace
test-data
__mocks__
scripts/**
.hadolint.yaml
eslint.config.js
jest.e2e.config.js
jestSetupFile.js
**/target.txt
**/version.txt
.env
update_copyright_years.*
api/**
