body section {
    display: flex;
}

section {
    margin-top: 0.5rem;
}

vscode-dropdown {
    flex: 1;
}

.vscode-label {
    display: block;
    color: var(--input-placeholder-foreground);
    cursor: pointer;
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    margin-bottom: calc(var(--design-unit) * 1px);
}
